<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
  </head>
  <body>
      <div class="login-wrap">
        <h1 class="login-header"> <center> TV Series Details </center></h1>
				{% if hide_form != 'Y' %}
	        <form class="login" action="" method="post">
						{% csrf_token %}
						{% if messages %}
							{% for message in messages %}
								{% if message.tags == 'success'%}
									<div class="success-message"><p class="success-message">{{message}}</p></div>
								{% elif message.tags == 'info'%}
									<div class="info-message"><p class="info-message">{{message}}</p></div>
								{% elif message.tags == 'warning'%}
									<div class="warning-message"><p class="warning-message">{{message}}</p></div>
								{% elif message.tags == 'error'%}
									<div class="error-message"><p class="error-message">{{message}}</p></div>
								{% endif %}
							{% endfor %}
						{% endif %}
						{{ password_reset_form.as_p }}
						<input class="login-button" type="submit" name="login-now" value="SUBMIT">
	        </form>
				{% else %}
					<div class="reset-message-div">
						<p class="reset-message-para">
							{% for message in success_message %}
								{{message}}
								<br><br>
						{% endfor %}
						</p>
		        <br>
					</div>
				{% endif %}
        <a href="/login" style="display: inline-flex;margin-top:30px;margin-left:150px;">Login</a>
      </div>
  </body>
</html>
