<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
		<title>Change Password</title>
	</head>
</html>
{% include 'navbar.htm' %}
<body>
	{% block content %}
    <div class="login-wrap" style="margin-top:5%;min-height: 500px;">
      <form class="login" method="post">
				{% csrf_token %}
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success'%}
							<div class="success-message"><p class="success-message">{{message}}</p></div>
						{% elif message.tags == 'info'%}
							<div class="info-message"><p class="info-message">{{message}}</p></div>
						{% elif message.tags == 'warning'%}
							<div class="warning-message"><p class="warning-message">{{message}}</p></div>
						{% elif message.tags == 'error'%}
							<div class="error-message"><p class="error-message">{{message}}</p></div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{{ form }}
        <!-- <input class="login-password" name="login-password-old" id="login-password-old" type="password" name="password" value="" placeholder="Old Password">
        <input class="login-password" name="login-password-new" id="login-password-new" type="password" name="password" value="" placeholder="New Password">
        <input class="login-password" name="login-password-again" id="login-password-again" type="password" name="password" value="" placeholder="Confirm Password"> -->
        <input class="login-button" type="submit" name="login-now" value="CHANGE PASSWORD">
      </form>
      <br>
      <a href="/login" style="display: inline-flex;margin-top:30px;margin-left:150px;">Login</a>
    </div>
	{% endblock %}
</body>
