<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
  </head>
  <body>
      <div class="login-wrap">
        <h1 class="login-header"> <center> TV Series Details </center></h1>
        <form class="login" action="index.html" method="post">
          <input class="login-username" name="login-username" id="login-username" type="email" name="username" value="" placeholder="Email" maxlength="254">
          <input class="login-button" type="submit" name="login-now" value="SUBMIT">
        </form>
        <br>
        <a href="/login" style="display: inline-flex;margin-top:30px;margin-left:150px;">Login</a>
      </div>
  </body>
</html>
