<head>
  <meta charset="utf-8">
  <title>Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
</head>
<body>
    <div class="login-wrap">
      <h1 class="login-header"> <center> TV Series Details </center></h1>
      <form class="login" action="/logincheck/" method="post">
        {% csrf_token %}
				{% if messages %}
					{% for message in messages %}
						{% if message.tags == 'success'%}
							<div class="success-message"><p class="success-message">{{message}}</p></div>
						{% elif message.tags == 'info'%}
							<div class="info-message"><p class="info-message">{{message}}</p></div>
						{% elif message.tags == 'warning'%}
							<div class="warning-message"><p class="warning-message">{{message}}</p></div>
						{% elif message.tags == 'error'%}
							<div class="error-message"><p class="error-message">{{message}}</p></div>
						{% endif %}
					{% endfor %}
				{% endif %}
				{{ form.as_p }}
        <input class="login-button" type="submit" name="login-now" value="LOGIN">
      </form>
      <br>
			<center>
      <a class="forget-password" href="/forgetpassword">Forget Password</a>
			<br>
      <a class="create-account" href="/createaccount">Create New Account</a>
		</center>
    </div>
</body>
