<!DOCTYPE html>
{% include "/main/templates/navbar.htm" %}
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/static/view_subscription/view_subscription.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title></title>
	</head>
</html>
<body>
	{% block content %}
	<center>
	<i class="delete-button fa fa-trash-o" id="delete-button" style="font-size:48px;color:red" onclick="delete_items()"></i>
	<button type="button" class="save-button" name="save-button" onclick="save_items()">SAVE</button>
	</center>
	<table class="subscription-table" id="subscription-table" style="width:100%">
		<colgroup>
			<col span="1" style="width: 10%;">
       <col span="1" style="width: 25%;">
       <col span="1" style="width: 30%;">
       <col span="1" style="width: 30%;">
    </colgroup>
		<tr class="dark-color-strip">
			<th></th>
			<th>Series ID</th>
			<th>Subscription Type</th>
			<th>Date Added</th>
		</tr>
		{% set ns = namespace(j=1) %}
		{% for item in subscribed_series %}
			{% if ns.j%2 == 1 %}
				<tr class="light-color-strip">
			{% else %}
				<tr class="dark-color-strip">
			{% endif %}
				<td><input type="checkbox" name="checkbox-{{ ns.j }}" id="checkbox-{{ ns.j }}" value="{{ item.tv_series_id }}"></td>
				<td>{{ item.tv_series_id }}</td>
				<td>
					{% if ns.j%2 == 1 %}
						<select class="series-update-type" name="series-update-type-{{ ns.j }}">
					{% else %}
						<select class="series-update-type dark-color-strip" name="series-update-type-{{ ns.j }}">
					{% endif %}
						{% for key, value in series_update_keys.items() %}
							{% if key == item.update_type %}
								<option value="{{key}}" selected>{{ value }}</option>
							{% else %}
								<option value="{{key}}">{{ value }}</option>
							{% endif %}
						{% endfor %}
					</select>
				</td>
				<td>{{ item.date_added }}</td>
				{% set ns.j = ns.j + 1 %}
			</tr>
		{% endfor %}
	</table>
	<script type="text/javascript">
	function delete_items(){
		var table = document.getElementById("subscription-table");
		form = document.createElement('form');
		form.method = 'post';
		form.action = '/delete_subscriptions/';
		for (var i = 1, row; row = table.rows[i]; i++) {
			if (document.getElementById("checkbox-"+i).checked) {
				hiddenField = document.createElement('input');
				hiddenField.type = 'hidden';
				hiddenField.name = "checkbox-"+i;
				hiddenField.value = row.cells[1].innerText;
				form.appendChild(hiddenField);
			}
		}
		document.body.appendChild(form);
		form.submit();
	}
	function save_items(){
		var table = document.getElementById("subscription-table");
		form = document.createElement('form');
		form.method = 'post';
		for (var i = 1, row; row = table.rows[i]; i++) {
			hiddenField = document.createElement('input');
			hiddenField.type = 'hidden';
			hiddenField.name = row.cells[1].innerText;
			e = row.cells[2].getElementsByTagName("select")[0];
			hiddenField.value = e.options[e.selectedIndex].value;
			form.appendChild(hiddenField);
		}
		document.body.appendChild(form);
		form.submit();
	}
	</script>
	{% endblock %}
</body>
