<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'main/main.css' %}">
		<title></title>
	</head>
</html>
{% include 'navbar.htm' %}
<body>
	{% block content %}
		<form class="add-series" method = "POST">
			<h2 class="heading">Enter IMDb ID To Get Updates</h2>
			{% csrf_token %}
			{% load static %}
			<img class="find-id-image" src="{% static '/images/findId.webp' %}" alt="">
			{% if messages %}
				{% for message in messages %}
					{% if message.tags == 'success'%}
						<div class="success-message"><p class="success-message">{{message}}</p></div>
					{% elif message.tags == 'info'%}
						<div class="info-message"><p class="info-message">{{message}}</p></div>
					{% elif message.tags == 'warning'%}
						<div class="warning-message"><p class="warning-message">{{message}}</p></div>
					{% elif message.tags == 'error'%}
						<div class="error-message"><p class="error-message">{{message}}</p></div>
					{% endif %}
				{% endfor %}
			{% endif %}
		  {{ form.as_p }}
		  <input class="add-series-button" type="submit" value="Subscribe">
		</form>
	{% endblock %}
</body>
