<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'view_subscription/view_subscription.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title></title>
	</head>
</html>
{% include 'navbar.htm' %}
<body>
	{% block content %}
	<i class="delete-button fa fa-trash-o" id="delete-button" style="font-size:48px;color:red" onclick="delete_items()"></i>
	<table class="subscription_table">
		<th></th>
		<th>Series ID</th>
		<th>Subscription Type</th>
		<th>Updated Date</th>
		{% for item in subscribed_series %}
			<tr>
				<td><input type="checkbox" name="" value=""></td>
				<td>{{ item.tv_series_id }}</td>
				{% for key, value in series_update_keys.items %}
					{% if key == item.update_type %}
						<td>{{ value }}</td>
					{% endif %}
				{% endfor %}
				<td>{{ item.date_added }}</td>
			</tr>
		{% endfor %}
	</table>
	<script type="text/javascript">
	function delete_items(){
		alert("Items Deleted")
	}
	</script>
	{% endblock %}
</body>
